

<div class="ariaCard">
   <div class="a">
    <p  (click)="tripsByType(100)"  style="width: 8rem;">
        <img alt="icon"  class="type"  src="../../../assets/picture/attractions.jpg" />
        <label >Attractions</label>
        </div>
        <div class="a"> 
        <p  (click)="tripsByType(102)">
        <img alt="icon"  class="type"  src="../../../assets/picture/walking tracks.png" />
        <label >Walking tracks</label>
    </div> 
    <div class="a">
        <p  (click)="tripsByType(101)">
        <img alt="icon"  class="type"  src="../../../assets/picture/Europe.png" />
        <label >Europe</label>
    </div> 
    
</div>