<!-- <p>trip-details works!</p>
<div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{trips.target}}</li>
      <li class="list-group-item">{{trips.typeName}}</li>
      <li class="list-group-item">{{trips.needMedic}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 overflow-hidden">
       <img src="../assets/picture/budapest.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%)">
   </div>
   <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
       <section> -->
           <!-- <span class="block text-6xl font-bold mb-1">Create the screens</span>
           <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
           <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            -->
           <!-- <button pButton pRipple label="for ordering" type="button" class="mr-3 p-button-raised" (click)="invent()"></button> -->
           <!--false מציג לי את הקומפוננטה רק מתי שהוא  -->
         <!-- <router-outlet *ngIf="!bookingConfirmed"></router-outlet>
         
           <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
       </section>
   </div>
  
 </div> -->


 
<div class="grid grid-nogutter surface-section text-800">
  <div class="col-6 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Create the screens</span>
        <div class="text-6xl text-primary font-bold mb-3">your visitors deserve to see</div>
        <p class="mt-0 mb-4 text-700 line-height-3">Rain forests, blue lakes, rivers, animals, picturesque villages, tribal ceremonies, volcanic mountains and mountain gorillas.
          <p class="mt-0 mb-4 text-700 line-height-3">
          * A rare glimpse into one of the most special, beautiful and interesting places in the world.</p>
          <p class="mt-0 mb-4 text-700 line-height-3">
          * A trip in a small, high-quality group with people who don't want an organized trip but want to go to a special place.</p>
        
        
        <ul >
          <li class="block text-6xl font-bold mb-1">Tardet:{{trips.target}}</li>
          <li class="block text-6xl font-bold mb-1">Duration:{{trips.duration}}</li>
          <li class="block text-6xl font-bold mb-1">Price:{{trips.price}}</li>
        </ul>
        <!--  -->
          <button pButton pRipple  icon="pi pi-cart-plus" label="To Ordering" type="button" class="mr-3 p-button-raised" pInputText pTooltip="Select a quantity"  (click)="invent()"></button>
          <router-outlet *ngIf="!bookingConfirmed"></router-outlet>
          <!-- <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button> -->
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img [src]="servTrip.image + trips.image+ '.jpg'"  alt="Image" clasa="aa" class="md:ml-auto block md:h-full"  style=" clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>



